/*
* @Author: name
* @Date:   2023-09-15 22:22:21
* @Last Modified by:   name
* @Last Modified time: 2023-09-16 13:23:21
*/
*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color:deepskyblue;/* 背景颜色 */
    transition:background 1s;/* 渐变时间 */
}
.homework_first{
    width: 100%;
    height: auto;
}
.homework_first:hover{
    background:rgba(116,78,235,.8);/* 当鼠标放到背景板上时变换颜色 */
}