/*
* @Author: name
* @Date:   2023-09-16 12:52:43
* @Last Modified by:   name
* @Last Modified time: 2023-09-16 14:47:05
*/
*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    transition:.3s;
}
body{
    background:rgba(0,0,0,.1);
}
.all{
    position: absolute;
    width: 900px;
    height: 700px;
    margin-top:10px;
    margin-left: 17%;
    border:2px solid rgba(66,66,66,.8);
    border-radius: 25px;
    z-index: 9;
    box-shadow: black 0px 5px 30px ;
}
.all .in_border{
    width: 850px;
    height:650px;
    background:blue;
    margin:25px auto 0 auto;
}
ul{
    position: absolute;
    margin-top:50px;
    margin-left:7%;
}
li{
    width: 75px;
    height:50px;
    background-color:deepskyblue;
    margin-top:5px;
    padding-left: 25px;
    line-height:50px;
    border:1px solid rgb(77,77,77);
    border-radius:5px;
    transition:.3s;
}
ul li a{
    display: none;
    margin-top:20px;
    color:#fff;
    font-size: 8px;
    line-height:25px;
}
ul li a:hover{
    color: red;
}
ul li:hover a{
    display:inline-block;
}
ul li:hover{
    cursor:pointer;
    background:rgba(116,78,235,.7);
    line-height:30px;
    height:75px;
    color:#fff;
}
